@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  #root {
    .receiving {
      font : {
        size: 5rem;
      }
    }
  }
}
